.about_page {
  opacity: 0; /* Start invisible */
  transition: opacity 0.5s ease-in; /* Transition effect */
}

.about_page.visible {
  opacity: 1; /* Become visible */
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}


.text-7xl {
  font-size: 2.5rem;
  line-height: 1;
}

/* Ensure only TracingBeam p tags are affected */
.tracingBeam_section p {
  font-size: 1.5rem;
  
}
