.about_page {
  opacity: 0; /* Start invisible */
  transition: opacity 0.5s ease-in; /* Transition effect */
}

.about_page.visible {
  opacity: 1; /* Become visible */
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}


.text-7xl {
  font-size: 2.5rem;
  line-height: 1;
}

/* Ensure only TracingBeam p tags are affected */
.tracingBeam_section p {
  font-size: 1.5rem;
  line-height: 1.3;
}

.about_heading_section {
  text-align: center;
  margin: 40px auto; /* Center with margin */
  width: 70%; /* Make this section take up 80% of the page width */
  margin-top: 70px;
}

.about_heading_section h1 {
  font-size: 2.5rem; /* Default font size for larger screens */
  font-weight: bold;
  margin-bottom: 7px;
  color: white; /* Text color set to white */
}
