html, body {
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.content {
  padding: 1rem;
  margin: 1rem auto; /* Center the content and reduce the margin */
  max-width: 1000px; /* Add a max-width to control the width of the content */
  box-sizing: border-box; /* Ensure padding is included in the element's total width */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

body {
  margin: 0;
  font-family: 'Righteous', sans-serif;
}

@media (max-width: 768px) {
  .content {
    margin-top: 1.5rem; /* Slightly smaller space on mobile */
    padding: 1rem; /* Ensure padding is consistent on mobile */
  }
}

@media (min-height: 1100px) {
  .content {
    margin-bottom: calc(17rem + 5vh); /* Add extra space below content to push footer down */
  }
}

/* Add responsive design for very small screens */
@media (max-width: 450px) {
  .content {
    margin-bottom: calc(15rem + 5vh); /* Adjust for very small screens */
  }
}