/* src/styles/HomePage.css */
.homepage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 60px); /* Adjust based on your header height */
  width: 100%;
  background: var(--background-gradient);
  padding: 2rem 0;
}
  
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Left align */
  justify-content: flex-start;
  width: 70%;
  max-width: 1200px;
  padding: 0 20px;
  margin-top: 15vh; /*vh units are relative to the height of the viewport (the browser window). This makes the margin scale with the window height.*/
}
  
/* Typewriter text */
.typewriter-container {
  font-size: 8vw; /* Big responsive text */
  padding-left: 1px;
}
  
/* Small text "I am" */
.small-text {
  font-size: 5vw; /* Smaller responsive text */
  margin-bottom: 10px;
  padding-left: 4px;
}

/* Image styling */
.image-container {
  margin-bottom: 20px;
}

.rembrand-image {
  width: 100%; /* Responsive image */
  max-width: 900px; /* Limit max size */
  height: auto;
  object-fit: contain;
}

/* Flip words */
.flip-words-container {
  font-size: 6vw; /* Big words for the sentence */
  margin-bottom: 20px;
  padding-left: 3px;
}


  
/* Responsive adjustments */
@media (min-width: 768px) {
  .typewriter-container {
    font-size: 4rem; /* Larger text on bigger screens */
  }

  .small-text {
    font-size: 1.5rem;
  }

  .flip-words-container {
    font-size: 3rem;
  }

  .learn-more-button {
    font-size: 1.5rem;
  }
}

/* Override for small devices */
@media (max-width: 767px) {
  .content-wrapper {
    padding: 0; /* Remove padding for small devices */
    width: 85%;
    margin-top: 9vh;
  }

}
  