.image_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    width: 100%; /* Ensure container takes full width */
}
  
.image_container img {
    width: 15%;
    max-width: 300px; /* Limiting maximum size on larger screens */
    max-width: 100%; /* Ensures image does not exceed container */
    object-fit: contain; /* Maintains aspect ratio */
    animation: dramaticDispersionEffect 15s infinite ease-in-out;
}
  
@keyframes dramaticDispersionEffect {
    0% {
        filter: none;
        transform: scale(1);
        opacity: 1;
    }
    50% {
        filter: blur(10px);
        transform: scale(1.2); /* Enlarge slightly */
        opacity: 0.3; /* Nearly invisible */
    }
    100% {
        filter: none;
        transform: scale(1);
        opacity: 1;
    }
}

/*404 text*/
.message_section { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.messageNotFound_section p {
    font-size: 3.5rem;
    color: #fdfafa;
    justify-content: center;
}

.message_container {
    margin: 12rem 0.5rem 12rem 0.5rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message_container a {
    color: #007bff;
}

  
@media screen and (max-width: 768px) {

    .image_container img {
        width: 35%; /* Adjust size for smaller screens */
        margin-bottom: 0;
    }

    .messageNotFound_section p {
        font-size: 3rem;
    }
}
  
@media screen and (max-width: 480px) {
    .image_container img {
      width: 50%; /* Further adjust for very small screens */
      margin-bottom: 0;
    }
}
  


  