.resume_page {
    opacity: 0; /* Start invisible */
    transition: opacity 0.5s ease-in; /* Transition effect */
}
  
.resume_page.visible {
    opacity: 1; /* Become visible */
}

/* this overrides the default color of input. !important */
input {
    color: #030d65 !important;
}

.languageTool {
    opacity: 0.6;
    color: #3541cccf;
}
