/* styles/Service.css */
body.servicepage-no-padding {
    padding-top: 0;
} 

.service_container {
  position: relative;
  z-index: 2; /* Ensure it stacks above the background */
}

.centered-image-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.centered-image {
  width: 40%;
  margin: 0 auto;
  display: block;
}

.centered-text {
  text-align: center;
  margin-top: 1rem; /* Adds some space between image and text */
}
  
.content-spacing {
  position: relative;
  z-index: 10;
}

.serviceDetail_section,
.serviceTabs_section {
  margin-top: 2rem; /* Add consistent spacing between sections */
}

.serviceTabs_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}


.serviceDetail_section {
    position: relative;
    margin-top: 10rem; /* Add spacing above the section */
    z-index: 5; /* Ensure it stacks correctly relative to the Tabs */
    padding: 2rem; /* Optional: Add some padding for better aesthetics */
}

.service_mobile_heading_section h1 {
  font-size: 2rem;
  text-align: center;
  margin: 40px auto; /* Center with margin */
  width: 90%; /* Make this section take up 80% of the page width */
  margin-top: 70px;
}

.service_body_section {
  margin: 40px auto;
  width: 80%;
}

.service_body_section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
  text-align: left;
  margin-bottom: 20px;
}


/* Show these only on desktop screens */
/* @media (min-width: 768px) {
  .mobile_tracingBeam {
    display: none;
  }
}
  
/* Show these only on mobile screens 
@media (max-width: 767px) {
  .serviceTabs_section,
  .service_container,
  .serviceDetail_section {
    display: none;
  }
}

@media (min-width: 1024px) and (min-height: 900px) {
  .service_container {
    margin-bottom: 25vh;
  }
} */
