* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative; /* Allow absolute positioning for children */
    overflow: hidden; /* Prevent scrolling if content overflows */
}

.app {
    position: absolute; /* Allow it to fill the background */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 0; /* Behind other content */
    pointer-events: none; /* Prevents interaction with the background */
}

.tag-cloud-container {
    position: relative;
    width: 300px; /* Size of each tag cloud container */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-cloud, .right-cloud {
    width: 100%;
    height: 100%;
}

/* Center the static word in the middle of the sphere */
.static-core {
    position: absolute;
    z-index: 1; /* Above the rotating clouds */
    font-size: 24px;
    font-weight: bold;
    color: #333; /* You can customize this */
}

/* Styling for rotating tag clouds */
.tagcloud {
    font-size: 18px;
    font-weight: 650;
}

.tagcloud--item:hover {
    color: #36454F;
}
